body {
	background-color: #000;
	color: #FFF;
}

h3 {
	font-size: small;
}

.bigRed {
	font-weight:bold;
	color: #F00;
	font-size: 30px;
}

table, tr, td {
	border: 1px solid #ccc;
	border-collapse: collapse;
	text-align: center;
}

table td {
	padding: 5px;
}
#cards {
	position: static;
}

#cards-column {
	-moz-column-count:3; /* Firefox */
	-webkit-column-count:3; /* Safari and Chrome */
	column-count:3;
	-moz-column-gap:10px; /* Firefox */
	-webkit-column-gap:10px; /* Safari and Chrome */
	column-gap:10px;
	width: 400px;
	height: 500px;
	margin-left: 5px;
	padding-left: 0px;
}

#cards-column li {
	border: 1px solid #fff;
	padding: 1px;
}

#rawData  {
	position: static;
}

#highlights {
	position: absolute;
	left: 430px;
	top: 427px;
}

#writing {
	position: absolute;
	left: 430px;
	top: 65px;
	width:700px;
	height: 350px;
	padding: 0px 5px 5px 5px;
}

#mySort {
	position: absolute;
	left: 1135px;
	top: 65px;
}

#writing h2 , p {
	margin: 15px 15px 15px 0px;
}

.largeImage {
	width: 400px;
	height: auto;
}