body {
	background-color: #000;
	color: #FFF;
}

.bigRed {
	font-weight:bold;
	color: #F00;
	font-size: 30px;
}

table, tr, td {
	border: 1px solid #ccc;
	border-collapse: collapse;
	text-align: center;
}

table td {
	padding: 5px;
}
#cards {
	position: static;
}

#rawData  {
	position: static;
}

#highlights {
	position: absolute;
	left: 430px;
	top: 427px;
}

#writing {
	position: absolute;
	left: 430px;
	top: 65px;
	width:700px;
	height: 350px;
	padding: 0px 5px 5px 5px;
}

#writing h2 , p {
	margin: 15px 15px 15px 0px;
}